
.overlay_box {
    position: relative;
    width: 175px;
    background: #fff;
    border-bottom: 1px solid #A9A9A9;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.07);
}

.overlay_box:hover {
    background: #efefef;
}

/*
.overlay_box:hover::after {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #ED6F2A;
}*/

.overlay_box .store_length {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -30%);
    padding: 5px 10px 0 5px;
    height: 30px;
    line-height: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    background: #ed6f2a;
    color: #fff;
    text-align: center;
    border-radius: 5em;

}

.overlay_box > figure {
    width: 100%;
    height: 90px;
    background: #F2F2F2
}

.overlay_box > figure > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.overlay_box .text_area {
    padding: 8px 0px 10px 12px;
}

.overlay_box .text_area h5 {
    width: 100%;
}

.overlay_box .text_area small {
    font-size: 1.2rem;
    color: #3B3B3B;
}

.overlay_box .text_area p {
    font-size: 1.6rem;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
    color: #3B3B3B;
}

.overlay_box .text_area .rate {
    display: flex;
    font-size: 1.2rem;
    align-items: center;
}

.overlay_box .text_area .rate img {
    display: block;
    width: 12px;
    height: 12px;
    margin-right: 3px;
}

.overlay_box .info_area {
    display: flex;
    align-items: center;
    margin-top: 3px;
}

.overlay_box .info_area small {
    display: inline-block;
}

.overlay_box .info_area small::after {
    content: '';
    display: inline-block;
    margin: 0 4px 0 5px;
    vertical-align: -1px;
    width: 1px;
    background: #3B3B3B;
    height: 0.8em;
    opacity: .5;
}
